
<app-navbar></app-navbar>
<!-- <div class="top"> -->

  <section class="pricing-section service-pricing spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Our Plan</span>
                    <h2>Choose your pricing plan</h2>
                </div>
            </div>
        </div>
<div class="row justify-content-center">
  <div class="col-lg-4 col-md-8">
      <div class="ps-item">
          <h3>price per person</h3>
          <div class="pi-price">
              <h2>300 DT / "3 months."</h2>
              
          </div>
          <ul>
              <li>Oriental dance</li>
              <li>danse moderne</li>
              <li>body combat</li>
              <li>pilate</li>
              <li>cross training</li>
              <li>BOX</li>
          </ul>
        
      </div>
  </div>
  <div class="col-lg-4 col-md-8">
      <div class="ps-item">
          <h3>price per person</h3>
          <div class="pi-price">
              <h2>560 DT / "6 months."</h2>
           
          </div>
          <ul>
              <li>Oriental dance</li>
              <li>danse moderne</li>
              <li>body combat</li>
              <li>pilate</li>
              <li>cross training</li>
              <li>BOX</li>
          </ul>
       
      </div>
  </div>
  <div class="col-lg-4 col-md-8">
      <div class="ps-item">
          <h3>price per person</h3>
          <div class="pi-price">
              <h2>780 DT /"9 months."</h2>
            
          </div>
          <ul>
              <li>Oriental dance</li>
              <li>danse moderne</li>
              <li>body combat</li>
              <li>pilate</li>
              <li>cross training</li>
              <li>BOX</li>
          </ul>
      
      </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-8">
        <div class="ps-item">
            <h3>price per person</h3>
            <div class="pi-price">
                <h2>950 DT / "12 months + 3 months free."</h2>
          
            </div>
            <ul>
                <li>Oriental dance</li>
                <li>danse moderne</li>
                <li>body combat</li>
                <li>pilate</li>
                <li>cross training</li>
                <li>BOX</li>
            </ul>
          
        </div>
    </div>
    <div class="col-lg-4 col-md-8">
      <div class="ps-item">
          <h3>price per person</h3>
          <div class="pi-price">
              <h2>1560 DT / "12 months + 3 months free."</h2>
            
          </div>
          <ul>
              <li>Oriental dance</li>
              <li>danse moderne</li>
              <li>body combat</li>
              <li>pilate</li>
              <li>cross training</li>
              <li>BOX</li>
          </ul>
         
      </div>
  </div>
  <div class="col-lg-4 col-md-8">
    <div class="ps-item">
        <h3>price per person</h3>
        <div class="pi-price">
            <h2>200 DT / "3 months with 2 sessions per week."</h2>
           
        </div>
        <ul>
           
            <li>danse moderne</li>
            <li>Kids Fitness</li>
            <li>Dance Classes</li>
            <li>Swimming Lessons</li>
            <li>BOX</li>
        </ul>
      
    </div>
</div>
</div>
</div>
<app-footer></app-footer>
