<header>
  
    <nav class="navbar">
      <div class="container">
          <a href="" class="text-nowrap logo-img">
          <img alt="Couplage Téléphonique Informatique : CTI Network " src="../assets/images/logo (1).png" width="180" alt="" />
        </a>  
          <!-- <div class="logo">Peak Gym</div> -->
         
          <ul class="nav-links">
            <li><a href="home">Home</a></li>
            <li><a href="planification">Planification</a></li>
              <li><a href="admincours">Reservation courses</a></li>
              <li><a href="gerercompte">gerer comptes</a></li>
             
           
          </ul>
      </div>
  </nav>
  
  </header>

