 <app-nav></app-nav>
 
 
 <!-- <div *ngIf="reservations.length === 0">
    No reservations found.
  </div>
  <div *ngIf="reservations.length > 0">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations">
          <td>{{ reservation.name }}</td>
          <td>{{ reservation.date }}</td>
          <td>{{ reservation.time }}</td>
          <td>
            <button (click)="deleteReservation(reservation.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
   



    -->

<app-footer></app-footer>    
