<app-navbar></app-navbar>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">Menu</h3>
  <!-- <a class="w3-bar-item w3-button" (click)="showUsers()">Utilisateurs</a> -->
  <a  class="w3-bar-item w3-button" (click)="showProfil()">Profil</a>
  <div *ngIf="isSimpleUser">
    <a  class="w3-bar-item w3-button" (click)="showReservations()">Mes reservations</a>
  </div>
  <div *ngIf="isAdmin">
    <a  class="w3-bar-item w3-button" (click)="goToDashboard()">Tableau de bord</a>
  </div>



</div>


<div style="margin-left:25%">
  <div class="w3-container w3-yellow">
    <h1>{{ pageTitle }}</h1>
  </div>

    <div *ngIf="displayProfil">
      <div style="text-align: center">
          <div class="profile-top">
            <mat-card class="product-box-shop" *ngIf="user" [ngClass]="{'text-center': !fullWidthMode}">
              <div [ngClass]="{'flex': fullWidthMode}">   
                  <div class="profile-detail">
                    <h5>{{user.username }}</h5>
                    <h6>{{user.email}}</h6>
                  </div>
              </div>
            </mat-card>
          </div>
        </div>
        
        <div class="profile-content">
          <div class="row dashboard-info">
            <div class="col-lg-9">
              <div class="card dash-cards">
                <div class="card-header">
                  <h4>Profile Details</h4>																
                </div>
                <div class="card-body">
                  <div class="profile-form">
                      <form [formGroup]="ProfileForm" (ngSubmit)="onSubmit()" >
                          <div class="form-group">
                            <label class="col-form-label">Username</label>
                            <div class="pass-group group-img">
                              <span class="lock-icon"><i class="feather-user"></i></span>
                              <input type="text" class="form-control" formControlName="username">
                            </div> 
                          </div>
                          <div class="row">
                            <div class="col-lg-6 col-md-6">
                              <div class="form-group">
                                <label class="col-form-label">Adresse Email</label>
                                <div class="group-img">
                                  <i class="feather-mail"></i>
                                  <input type="email" class="form-control" formControlName="email">
                                </div>
                              </div>
                            </div>											
                          </div>	
                          <div class="form-group">
                              <label class="col-form-label">Birthdate</label>
                              <div class="pass-group group-img">
                                <span class="lock-icon"><i class="feather-user"></i></span>
                                <input type="date" class="form-control" formControlName="birthdate">
                              </div> 
                          </div>
                          <div class="form-group">
                              <label class="col-form-label">Phone</label>
                              <div class="pass-group group-img">
                                <span class="lock-icon"><i class="feather-user"></i></span>
                                <input type="text" class="form-control" formControlName="phone">
                              </div> 
                          </div>
                            
                          <button class="btn btn-primary w-100 login-btn" type="submit">Update Profile</button>
                        </form>
                        
                  </div> 
                </div>								
              </div>	
            </div>
        
          </div>				
        </div>
    </div>


    <div *ngIf="isSimpleUser">
      <div *ngIf="displayReservations">
        
        <div *ngIf="reservations && reservations.length > 0">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Status</th>
                <th>Utilisateur</th>
                <th>Cours</th>
                <th>Terrain</th>
                <th>Coach</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let reservation of reservations">
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.date }}</td>
                <td>{{ reservation.heure }}</td>
                <td>{{ reservation.status }}</td>
                <td>{{ reservation.user.username }}</td>
                <td>{{ reservation.cours?.nom }}</td>
                <td>{{ reservation.terrain?.nom }}</td>
                <td>{{ reservation.coach?.nom }}</td>
                <td>
                  <i *ngIf="reservation.terrain?.id" class="fas fa-edit mr-2" (click)="editReservation(reservation)" style="color: blue;"></i>
                  <i class="fas fa-trash" (click)="deleteReservation(reservation.id)" style="margin-left: 35px; color: red;"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      
        <div *ngIf="reservations && reservations.length === 0">
          <p>Aucune réservation trouvée.</p>
        </div>
      
        <form *ngIf="afficherForm === 'createForm' || afficherForm === 'editForm'" [formGroup]="ReservationForm" style="margin-left: 30px;" (submit)="saveOrUpdate()" id="createForm" enctype="multipart/form-data">
          <!-- <div class="form-group row input-group-sm mb-3">
            <label for="cours" class="col-sm-3 col-form-label">Cours</label>
            <div class="col-sm-9">
              <select id="cours" formControlName="cours" required class="form-control">
                <option *ngFor="let cours of coursList" [value]="cours.id">{{ cours.nom }}</option>
              </select>
            </div>
          </div>
        
          <div class="form-group row input-group-sm mb-3">
            <label for="terrain" class="col-sm-3 col-form-label">Terrain</label>
            <div class="col-sm-9">
              <select id="terrain" formControlName="terrain" required class="form-control">
                <option *ngFor="let terrain of terrainsList" [value]="terrain.id">{{ terrain.nom }}</option>
              </select>
            </div>
          </div>
        
          <div class="form-group row input-group-sm mb-3">
            <label for="coach" class="col-sm-3 col-form-label">Coach</label>
            <div class="col-sm-9">
              <select id="coach" formControlName="coach" required class="form-control">
                <option *ngFor="let coach of coachsList" [value]="coach.id">{{ coach.nom }}</option>
              </select>
            </div>
          </div> -->
        
          <div class="form-group row input-group-sm mb-3">
            <label for="date" class="col-sm-3 col-form-label">Date</label>
            <div class="col-sm-9">
              <input type="date" id="date" formControlName="date" required class="form-control">
            </div>
          </div>
        
          <div class="form-group row input-group-sm mb-3">
            <label for="heure" class="col-sm-3 col-form-label">Heure</label>
            <div class="col-sm-9">
              <input type="time" id="heure" formControlName="heure" required class="form-control">
            </div>
          </div>
          
          <!-- <h4>Jours de la semaine</h4>
          <div formArrayName="dates" class="d-flex flex-wrap">
            <ng-container *ngFor="let jour of joursSemaine; let i = index">
              <div class="mr-3 mb-2">
                <label class="checkbox-inline">
                  <input type="checkbox" [formControlName]="i"> {{ jour }}
                </label>
              </div>
              <div style="width: 60px;"></div> 
            </ng-container>
          </div>

          <h4>Heures</h4>
          <div formArrayName="heures" class="d-flex flex-wrap">
            <ng-container *ngFor="let heure of joursHeure; let i = index">
              <div class="mr-3 mb-2">
                <label class="checkbox-inline">
                  <input type="checkbox" [formControlName]="i"> {{ heure }}
                </label>
              </div>
              <div style="width: 70px;"></div> 
            </ng-container>
          </div> -->

        
          <br>
          <button class="btn btn-primary login-btn" type="submit">{{ selectedReservation ? 'Modifier' : 'Ajouter' }}</button>
          <button class="btn btn login-btn" type="button" (click)="closeForm()" style="margin-left: 11px; color: red;">Fermer formulaire</button>
        </form>
        
      </div>
      
    </div>


    <app-footer></app-footer>

</div>










