<app-navbar></app-navbar>

<form (ngSubmit)="addReservation()">
    <div class="form-group">
        <label>Date:</label>
        <input type="date" class="form-control" [(ngModel)]="reservation.date" name="date" required>
    </div>

    <div class="form-group">
        <label>Heure:</label>
        <input type="text" class="form-control" [(ngModel)]="reservation.heure" name="heure" required>
    </div>


    <button type="submit" class="btn btn-primary">Add Reservation</button>
</form>

<br><br><br>
<app-footer></app-footer>
